:root {
    --primary-color: #d1dff1; 
   --secondary-color: #151318;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Body section*/
body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* <header> */
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url('../images/cool-pic 1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;   
  z-index: 1;
}
header h1 {
  font-weight: bold;
  font-size: 35px;
  color: var(--primary-color);
  margin: 0;
}
header a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
    color: #ffffff;
    filter: drop-shadow(5px 5px 5px #88465f );
}
header nav {
  margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
/*Header/ Navigation section ends*/

/*<footer> section*/
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--secondary-color);
  width: flex;
  padding: 40px 35px;
  }
  
footer h2 {
      color: var(--primary-color);
      font-size: 30px;
      margin: 0;
    }
footer a {
  text-decoration: none;
}
footer div {
  margin: 7px 0;
  line-height: 1.5;
  text-align: right;
}
footer ul li {
  display: inline;
  
}
footer div ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: var(--primary-color);
}

/*Style all section.*/

section {
  padding: 60px;
}

/* MAIN SECTION STARTS */
.main {
  background-image: url('../images/cool-pic 1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;   
}
.main-text {
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.7;
  }

/* MAIN SECTION ENDS */
.flex-row {
    display: flex;
    justify-content: center;
  }
/*ABOUT ME SECTION STARTS*/
.about {
  text-align: center;
  background-color:var(--secondary-color);
}

.about p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}


.section-title {
  font-size: 55px;
  color: var(--primary-color);
  display: inline-block;
  border-bottom: 3px solid;
  text-shadow: 2px 2px 4px rgb(133, 46, 125);
}
.section-title:hover {
    color: #ffffff;
}

.primary-border {
  border-color: #2e2c6e;
}

.secondary-border {
  border-color: #39a6b2;
}
/*ABOUT ME SECTION ENDS HERE*/


/*projects portfolio section*/
/*FIRST PROJECT SECTION*/

.project1 h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
    text-decoration: none; 
}
  .project1 a {
      text-decoration: none;
}
  .project1 p {
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 25px;
    display: none;   
}
.project1 img {
    transition: transform 1s;
    margin-bottom: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    filter: drop-shadow(5px 10px 15px #46884f );   
}
.project1:hover p {
    display: block;
}
.project1:hover img {
    transform: scale(1.2);
    filter: brightness(110%);
}


/*FIRST PROJECT SECTION ENDS HERE*/

/*PROJECT 2,3,4 SECTION STARRTS HERE*/

.projects {
  text-align: center;
  background-color: var(--secondary-color);
}
.project {
  width: auto;
  margin: 0 auto;
  background: var(--secondary-color);
  color: var(--primary-color);
  overflow: auto;
}

.project a {
    text-decoration: none;
}
.project img {
 float: left;
 transition: transform 1s;
 margin-bottom: 50px;
 filter: drop-shadow(10px 10px 10px #5f64a89d ); 
}
.project-info {
  padding: 15px;
  float: left;
  width: 60%;
  text-decoration: none;
}
.project-info h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
.project-info p {
  font-size: 17px;
  line-height: 1.3;
  display: none;
}
.project:hover p, h3  {
    padding-left: 60px;
    display: block;
}
.project:hover img {
 transform: scale(1.2);
 filter: blur(.3px);
 filter: brightness(100%);
}
.text-left {
  text-align: left;
}
/*PROJECT 2,3,4 SECTION ENDS HERE*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
      .section-title {
        width: 80%;
      }

      .project {
        flex: 0 70%;
      }      
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */

    @media screen and (max-width: 768px) {
        section {
          padding: 30px 15px;
        }
      }
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

    @media screen and (max-width: 575px) {

        .hero-form button {
          width: 100%;
        }
      
        .section-title {
          width: 95%;
        }
        .projects p {
            width: 100%;
          }
          .project {
            flex: 0 100%;
          }


    }      