* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Body section*/
body {
  color: #d1dff1;
  font-family: Helvetica, Arial, sans-serif;
}

/* <header> */
header {
  padding: 20px 35px;
  background-color: #151318;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #d1dff1;
  margin: 0;
  display: inline;
}
header a {
  color: #d1dff1;
  text-decoration: none;
}


a:hover {
    color: #ffffff;
    filter: drop-shadow(5px 5px 5px #88465f );
}

header nav {
  float: right;
  margin: 5px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}


/*<footer> section*/
footer {
  background: #151318;
  width: 100%;
  padding: 40px 35px;
  }
  
footer h2 {
      display: inline;
      color: #d1dff1;
      font-size: 30px;
      margin: 0;
    }
footer a {
  text-decoration: none;
}
footer div {
  float: right;
  margin: 7px 0;
  line-height: 1.5;
  text-align: right;
}
footer ul li {
  display: inline;
  
}
footer div ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: #d1dff1;
}

section {
  padding: 60px;
}

/* main section */
.main {
  background-image: url('../images/cool-pic 1.jpg');
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* main section end */

/*About me section*/
.about {
  text-align: center;
  background-color:#151318;
}

.about p {
  line-height: 1.7;
  color: #d1dff1;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}


.section-title {
  font-size: 55px;
  color: #d1dff1;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
  text-shadow: 2px 2px 4px rgb(133, 46, 125);
}
.section-title:hover {
    color: #ffffff;
}

.primary-border {
  border-color: #2e2c6e;
}

.secondary-border {
  border-color: #39a6b2;
}
/*about me section ends*/


/*projects portfolio section*/
/*First project section*/


.project1 h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
    text-decoration: none; 
}
  .project1 a {
      text-decoration: none;
}
  .project1 p {
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 25px;
    display: none;   
}
.project1 img {
    transition: transform 1s;
    margin-bottom: 50px;
    border-radius: 15px;
    filter: drop-shadow(5px 10px 15px #46884f );
    
}

.project1:hover p {
    display: block;
}
.project1:hover img {
    transform: scale(1.2);
    filter: brightness(110%);
}



/*First project section ends*/

.project img {
    margin-bottom: 50px;
    filter: drop-shadow(10px 10px 10px #5f64a89d );
}

.projects {
  text-align: center;
  background-color: #151318;
  border-bottom: 3px solid rgba(231, 206, 236, 0.411);
}
/* project 2,3,4 section*/
.project {
  width: auto;
  margin: 0 auto 35px auto;
  background: #151318;
  color: #d1dff1;
  overflow: auto;
}

.project a {
    text-decoration: none;
  }

.project img {
  width: 35%;
  float: left;
  transition: transform 1s;
  
}

.project-info {
  padding: 15px;
  float: left;
  width: 60%;
  text-decoration: none;
}

.project-info h3 {
  font-size: 32px;
  margin-bottom: 8px;
}


.project-info p {
  font-size: 17px;
  line-height: 1.3;
  display: none;
}

.project:hover p, h3  {
    padding-left: 60px;
    display: block;
}

.project:hover img {
    transform: scale(1.2);
    filter: blur(.3px);
    filter: brightness(100%);
}


.text-left {
  text-align: left;
}


/*Animation to the Cool "link"*/
